<div id="custom-overlay" [style.display]="splash ? 'flex': 'none'">
  <div class="flb">
    <h1 id="name">The Flash Text</h1>
    <div class="Aligner-item Aligner-item--top"></div>
    <img src="assets/icon.gif">
    <div class="Aligner-item Aligner-item--bottom"></div>
  </div>
</div>


<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Khimpat portfolio</h2>
  <p>
	   testing again
  </p>
  <button ion-button color="secondary" block outline (click)="submitForm()">Secondary</button>


  <ion-list>
    <span *ngFor="let contact of contactlist" >
      <ion-item *ngIf="contact.displayName">
        {{contact.displayName}} = {{contact.phoneNumbers[0].value}}
      </ion-item>
    </span>
  </ion-list>
  a
</ion-content>
